[submodule "reference/ghostty"]
	path = reference/ghostty
	url = https://github.com/mizchi/ghostty.git
	branch = wasm-kitty
[submodule "reference/text-shaper"]
	path = reference/text-shaper
	url = https://github.com/wiedymi/text-shaper.git
